.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elemBox {
    width: 40vw;
    height: 60vh;
    margin-left: 10vw;
    border: 0.5px solid whitesmoke;

    list-style: none;
    position: relative;
    overflow: hidden;
}