.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 
p{
   font-family: 'Noto Sans', sans-serif;
   font-family: 'Overpass', sans-serif;
    font-style: italic;
}*/

.elemBox {
    width: 40vw;
    height: 60vh;
    margin-left: 10vw;
    border: 2px solid black;

    list-style: none;
    position: relative;
    overflow: hidden;
}