.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
p{
   font-family: 'Noto Sans', sans-serif;
   font-family: 'Overpass', sans-serif;
    font-style: italic;
}*/