.header {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    align-items: left;
    justify-content: space-between;
    margin-left: 4vw;
}

.box {
    display: flex;
    height: 33vh;
    justify-content: center;
    align-items: center;
}

.head {
    text-align: center;
    font-size: 45px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.pictureBox {
    display: flex;
    justify-content: center;
}

.picture {
    width: 30vw;
    object-fit: cover;
    object-position: 50% 50%;
}

.timer {
    text-align: center;
}